[Unit]
Description=Apache Hadoop DFS name node
After=network.target

[Service]
Type=forking
User=root
Group=root
Environment=HADOOP_PID_DIR=/var/run
ExecStart={{apache_hadoop_home}}/sbin/hadoop-daemon.sh start namenode
ExecStop={{apache_hadoop_home}}/sbin/hadoop-daemon.sh stop namenode
PIDFile=/var/run/hadoop-root-namenode.pid

[Install]
WantedBy=multi-user.target
