[Unit]
Description=Apache Hadoop YARN node manager
After=network.target

[Service]
Type=forking
User=root
Group=root
Environment=YARN_PID_DIR=/var/run
ExecStart={{apache_hadoop_home}}/sbin/yarn-daemon.sh start nodemanager
ExecStop={{apache_hadoop_home}}/sbin/yarn-daemon.sh stop nodemanager
PIDFile=/var/run/yarn-root-nodemanager.pid

[Install]
WantedBy=multi-user.target
