[Unit]
Description=Apache Hadoop YARN resource manager
After=network.target

[Service]
Type=forking
User=root
Group=root
Environment=YARN_PID_DIR=/var/run
ExecStart={{apache_hadoop_home}}/sbin/yarn-daemon.sh start resourcemanager
ExecStop={{apache_hadoop_home}}/sbin/yarn-daemon.sh stop resourcemanager
PIDFile=/var/run/yarn-root-resourcemanager.pid

[Install]
WantedBy=multi-user.target
